# Windows
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.appx
*.tar

# PowerShell
# =========================
*.ps1xml
*. cdxml

# Logs
# =========================
*.log

# Temporary files
# =========================
*.tmp
*.temp
~*.*
*.~*

# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


# IDE
# =========================
.idea/
*.swp
*.swo
